

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.card {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 26px;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 30px;
}

.input {
  width: calc(100% - 20px);
  padding: 12px 14px;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  transition: border 0.3s;
}

.input:focus {
  border-color:#6d28d9;
  box-shadow: 0 0 0 3px rgba(92, 157, 237, 0.2);
}

.main-input {
  font-weight: 500;
  font-size: 17px;
}

.inputs-container {
  margin: 20px 0;
}

.button {
  padding: 12px 30px;
  background: #6d28d9;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s, transform 0.2s;
}

.button:hover {
  background: #6d28d9;
  transform: translateY(-2px);
}

.result {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}



.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.number-tile {
  background-color: #FAF5FE;
  color: #2c3e50;
  padding: 14px 20px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
  min-width: 48px;
  text-align: center;
}

.number-tile:hover {
  transform: scale(1.05);
  background-color: #FAF5FE;
}

.multiplication-row {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  gap: 8px;
}

.multiplication-tile {
  background-color: #FAF5FE;
  color: #2c3e50;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
  min-width: 40px;
  text-align: center;
}

.multiplication-tile:hover {
  transform: scale(1.08);
  background-color:#FAF5FE;
}
